body {
    margin: 0px;
    padding: 0px;
}

nav {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.navbar-search {
    max-width: 300px;
}

.searchbar-avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 530px;
}

.username-role-avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 180px;
}
